# https://editorconfig.org/

root = true

[*]
indent_style = space
indent_size = 2
tab_width = 8
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

[*.{bat,cmd,reg}]
end_of_line = crlf

[*.{diff,patch}]
trim_trailing_whitespace = false

[{*.{do,i,m,mk,s,sh},.gitconfig,Makefile,Makefile.inc,crontab,crontab.tmp,gitconfig}]
indent_style = tab
indent_size = tab

[*.go]
indent_style = tab
indent_size = tab
tab_width = 4

[*.{hs,journal,py}]
indent_size = 4

[*.{ics,vcf}]
end_of_line = crlf
max_line_length = 75

[*.rs]
indent_size = 4
max_line_length = 99

[*.txt]
indent_style = tab
indent_size = tab
trim_trailing_whitespace = false

[LICENSE]
indent_size = 5
max_line_length = 78
