[alias]
	pwd = rev-parse --show-prefix
	root = rev-parse --show-toplevel
	skip = update-index --skip-worktree --
	unskip = update-index --no-skip-worktree --
[commit]
	gpgsign = true
[core]
	autocrlf = false
[credential]
	helper = store
[gpg]
	program = gpg2
[push]
	default = simple
	followTags = true

# Secret stuff
[include]
	path = ~/etc/secret/gitconfig
