*-
/.Xauthority
/.cache/
/.cargo/
/.dbus/
/.gftp/
/.gnupg/
/.gtk-bookmarks
/.itch/
/.local/
/.moonchild productions/
/.npm/
/.password-store/
/.pki/
/.rustup/
/.ssh/
/.uqm/
/.var/
/.wineprefix/
/.xsel.log
/.xsession-errors
/TA.ZIP
/TA/
/bin/
/desk/
/log/
/mc/
/src/
/tmp/
