/.*history
/.Xauthority
/.asoundrc
/.cabal/
/.cache/
/.cargo/
/.config/MusicBrainz/
/.config/QtProject.conf
/.config/StardewValley/
/.config/cef_user_data/
/.config/chromium/
/.config/creeperworld3/
/.config/glib-*/
/.config/idea/
/.config/itch/
/.config/keepassxc/
/.config/keybase/
/.config/libreoffice/
/.config/mpv/
/.config/nvim-qt/
/.config/qutebrowser/autoconfig.yml
/.config/qutebrowser/qsettings/
/.config/syncthing/
/.config/unity3d/
/.darcs/author
/.dbus/
/.gitlab-token
/.gnupg/
/.gradle/
/.gradle-kotlin-dsl/
/.hackage/
/.itch/
/.java/
/.konan/
/.lesshst
/.lexaloffle/
/.local/
/.m2/repository/
/.minecraft/
/.minetest/
/.mozilla/
/.password-store/
/.pijulconfig/
/.pki/
/.rustup/
/.ssh/
/.steam*
/.wine/
/.winefs/*/
/.xsession-errors
/Documents/
/Downloads/
/GOG Games/
/Music/
/Pictures/
/Sync/
/Videos/
/backup/
/bin/
/etc/runit/
/etc/secret/
/etc/sv/**/supervise
/etc/wallpaper/*.zip
/git/
/inc/
/lib/pforth.dic
/log/
/src/ext/
/src/go/
/src/haskell/
/src/kotlin/
/src/rust/*/
/src/rust/*.binary
/storage/
/sve/
/tmp/
*+
*-
*.log
*.new
*.tmp
*{new}
*{tmp}
*~
.redo/
