/.*history
/.Xauthority
/.cache/
/.cargo/
/.dbus/
/.gitlab-token
/.gnupg/
/.ipfs/
/.itch/
/.lesshst
/.local/
/.minecraft/
/.minetest/
/.mozilla/
/.password-store/
/.pki/
/.renpy/
/.rustup/
/.ssh/
/.uqm/
/.var/
/.wine/
/.wineprefix/
/.xsession-errors
/DOSBOX/
/GOG Games/
/TA/
/bin/
/desk/
/git/
/log/
/tmp/
*+
*-
*.log
.redo/
