! Base16 OneDark
! Scheme: Lalit Magant (http://github.com/tilal6991)

#include <base16/current.xdefaults>

*foreground:   COLOUR_BASE05
#ifdef background_opacity
*background:   [background_opacity]COLOUR_BASE00
#else
*background:   COLOUR_BASE00
#endif
*cursorColor:  COLOUR_BASE05

*color0:       COLOUR_BASE00
*color1:       COLOUR_BASE08
*color2:       COLOUR_BASE0B
*color3:       COLOUR_BASE0A
*color4:       COLOUR_BASE0D
*color5:       COLOUR_BASE0E
*color6:       COLOUR_BASE0C
*color7:       COLOUR_BASE05

*color8:       COLOUR_BASE03
*color9:       COLOUR_BASE08
*color10:      COLOUR_BASE0B
*color11:      COLOUR_BASE0A
*color12:      COLOUR_BASE0D
*color13:      COLOUR_BASE0E
*color14:      COLOUR_BASE0C
*color15:      COLOUR_BASE07

! Note: colors beyond 15 might not be loaded (e.g., xterm, urxvt),
! use 'shell' template to set these if necessary
*color16:      COLOUR_BASE09
*color17:      COLOUR_BASE0F
*color18:      COLOUR_BASE01
*color19:      COLOUR_BASE02
*color20:      COLOUR_BASE04
*color21:      COLOUR_BASE06
