/MusicBrainz/
/coc/*
/coc/extensions/*
/configstore/
/creeperworld3/
/dconf/
/gtk-*/
/itch/
/keepassxc/
/libreoffice/
/mimeapps.list
/mpv/
/pulse/
/syncthing/
/unity3d/
!/coc/extensions/
!/coc/extensions/package.json
