/MusicBrainz/
/QtProject.conf
/StardewValley/
/VirtualBox/
/cef_user_data/
/chromium/
/configstore/
/creeperworld3/
/dconf/
/gtk-*/
/idea/
/itch/
/keepassxc/
/keybase/
/libreoffice/
/mimeapps.list
/mpv/
/nvim-qt/
/pulse/
/syncthing/
/ubports-installer/
/unity3d/
